<!DOCTYPE html>
<html>
  <head>
    <title>Fam Updates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="famupdates" />
    <meta property="og:description" content="Get updates from yo fam!" />
    <meta property="og:image" content="https://famupdates.com/images/friends-enjoying-company.jpg" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "fam updates", (current_user.present? ? logged_in_homepage_path : logged_out_homepage_path) %><sup>alpha</sup></h1>
      <%= render 'layouts/navbar' %>
    </header>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
